.checkbox__input, .portfolio__title, .advantages__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*:focus-visible {
  outline: 2px double #2196f3;
  outline-offset: 1.5px;
}

/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
p,
ul,
li,
a {
  margin: 0;
  border-width: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

address {
  font-style: normal;
}

button {
  padding: 0;
  margin: 0;
}

body {
  color: #212121;
  background-color: #fff;
  font-family: Roboto, sans-serif;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo__header {
  color: #000;
}

.logo__footer {
  color: #fff;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.navigation__list {
  display: flex;
  margin-left: 93px;
}

.navigation__link {
  display: inline-block;
  padding: 32px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:hover, .navigation__link:focus {
  color: #2196f3;
}

.navigation__item {
  position: relative;
}
.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts__item:not(:last-child) {
  margin-right: 30px;
}

.contacts__link {
  display: inline-block;
  padding: 32px 0;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
  vertical-align: middle;
}

.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translate(-50%);
  width: 110%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.hero {
  display: flex;
  height: 600px;
  align-items: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main-background-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.hero__title {
  margin-bottom: 30px;
  color: #fff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  min-width: 216px;
  padding: 10px 32px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #fff;
  background-color: #2196f3;
}

.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages__subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantages__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.advantages__list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.advantages__item {
  width: calc(100% - 90px)/4;
}

.advantages__icon {
  display: inline-block;
  height: 120px;
  width: 270px;
  background-color: #f5f4fa;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}
.advantages__item:nth-child(1) .advantages__icon {
  background-image: url(../images/antenna.svg);
}
.advantages__item:nth-child(2) .advantages__icon {
  background-image: url(../images/clock.svg);
}
.advantages__item:nth-child(3) .advantages__icon {
  background-image: url(../images/diagram.svg);
}
.advantages__item:nth-child(4) .advantages__icon {
  background-image: url(../images/astronaut.svg);
}

.activities {
  padding-bottom: 94px;
}

.activities__title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.activities__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.activities__product {
  position: relative;
  max-height: 294px;
}

.activities__description {
  position: absolute;
  display: flex;
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: center;
  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.team__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.team__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}

.team__position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: center;
  margin-bottom: 16px;
}

.team__img {
  margin-bottom: 30px;
}

.team__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.team__item {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:hover, .socials__link:focus {
  background-color: #2196f3;
  color: #fff;
}

.socials__icon {
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.clients__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid currentColor;
  border-radius: 4px;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  color: #2196f3;
}

.clients__icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio__filters {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
  flex-wrap: wrap;
}

.portfolio__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio__btn {
  padding: 6px 22px;
  color: inherit;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__btn:hover, .portfolio__btn:focus {
  background-color: #2196f3;
  color: #fff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.works__info {
  padding: 20px 24px;
  border: 1px solid #eee;
  border-top: 0;
}

.works__title {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.works__type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

.works {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.works__link {
  display: inline-block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.works__link:focus, .works__link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works__meta {
  position: relative;
  overflow: hidden;
  height: 294px;
  perspective: 600px;
}

.works__proposition {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #fff;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%) rotateX(60deg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.works__link:hover .works__proposition, .works__link:focus .works__proposition {
  transform: translateY(0) rotateX(0);
}

.footer {
  background-color: #2f303a;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}
.address__item:first-child {
  color: #fff;
}
.address__item:not(:first-child) {
  color: rgba(255, 255, 255, 0.6);
}

.address__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:focus, .address__link:hover {
  color: #2196f3;
}

.address__list {
  margin-top: 20px;
}

.footer__container {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  align-items: baseline;
  justify-content: center;
  flex-wrap: wrap;
  gap: 93px;
}

.footer__title,
.subscribe__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #fff;
}

.footer__list {
  display: flex;
}

.footer__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:hover, .footer__link:focus {
  background-color: #2196f3;
}

.footer__item:not(:last-child) {
  margin-right: 10px;
}

.footer__icon {
  fill: #fff;
}

.subscribe__area {
  display: flex;
}

.subscribe__input {
  width: 358px;
  height: 50px;
  background-color: transparent;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
}

.subscribe__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  color: #fff;
  background-color: #2196f3;
  border: 0;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.subscribe__icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(2) rotate(2turn);
  opacity: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 581px;
  width: 528px;
  border-radius: 4px;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal__icon--close {
  width: 11px;
  height: 11px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close:focus .modal__icon--close, .modal__close:hover .modal__icon--close {
  fill: #2196f3;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

.form {
  width: 448px;
}

.form__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  list-style: none;
}
.form__item:not(:last-child) {
  margin-bottom: 10px;
}

.form__field {
  position: relative;
  width: 100%;
}

.form__label {
  margin-bottom: 4px;
  color: #757575;
}

.form__icon {
  position: absolute;
  left: 12px;
  bottom: 50%;
  transform: translateY(50%);
  padding: 0;
  width: 18px;
  height: 18px;
  fill: #212121;
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus + .form__icon {
  fill: #2196f3;
}

.form__input,
.form__textarea {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus,
.form__textarea:focus {
  border-color: #2196f3;
}

.form__input {
  height: 40px;
  padding-left: 42px;
}

.form__textarea {
  resize: none;
  padding: 12px 16px;
  height: 120px;
  margin-bottom: 20px;
}
.form__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.checkbox__label {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  color: #757575;
  gap: 5px;
}

.form__terms {
  color: #2196f3;
  text-decoration: underline;
}

.checkbox__icon {
  width: 16px;
  height: 15px;
  background-image: url(../images/check-off.svg);
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__input:focus + .checkbox__icon {
  outline: 2px double #2196f3;
  outline-offset: 1.5px;
}
.checkbox__input:checked + .checkbox__icon {
  background-image: url(../images/check-on.svg);
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__send {
  position: absolute;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  padding: 0;
  color: #fff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
}/*# sourceMappingURL=main.css.map */