.clients {
  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.clients__title {
  margin-bottom: 30px;
  @include font-size(700, 36px, 1.17, 0.03em);
  text-align: center;
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}
.clients__item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  border: 1px solid currentColor;
  border-radius: 4px;
  @media screen and (max-width: 767px) {
    flex-basis: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 2 * 30px) / 3);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 5 * 30px) / 6);
  }
  color: $icon-color;
  transition: color 250ms $timing-function, border-color 250ms $timing-function;
  &:hover,
  &:focus {
    color: $main-logo-color;
  }
}

.clients__icon {
  fill: currentColor;
  transition: fill 250ms $timing-function;
}
