.footer {
  background-color: $footer-background-color;
}
.footer__container {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: baseline;
  gap: 60px;
  @media screen and (max-width: 1199px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  @media screen and (min-width: 1200px) {
    justify-content: center;
    flex-wrap: wrap;
    gap: 93px;
  }
}
.footer__contacts {
  @media screen and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.address__item {
  &:not(:last-child) {
    margin-bottom: 9px;
  }
  &:first-child {
    color: $primary-background-color;
  }
  &:not(:first-child) {
    color: $footer-contact-color;
  }
  @media screen and (max-width: 1199px) {
    display: flex;
    justify-content: center;
  }
}
.address__link {
  @include font-size(400, 14px, 1.71, 0.03em);
  transition: color 250ms $timing-function;

  &:focus,
  &:hover {
    color: $main-logo-color;
  }
}
.address__list {
  margin-top: 20px;
}
.footer__title,
.subscribe__title {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
  @include font-size(700, 14px, 1.17, 0.03em);
  text-transform: uppercase;
  margin-bottom: 20px;
  color: $primary-background-color;
}

.footer__list {
  display: flex;
}

.footer__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color 250ms $timing-function;

  &:hover,
  &:focus {
    background-color: $main-logo-color;
  }
}

.footer__item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.footer__icon {
  fill: #fff;
}
.subscribe {
  @media screen and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
.subscribe__area {
  display: flex;
  @media screen and (max-width: 1199px) {
    flex-direction: column;
    align-items: center;
  }
}

.subscribe__input {
  @media screen and (max-width: 1199px) {
    width: 450px;
    margin-bottom: 20px;
  }
  width: 358px;
  height: 50px;
  background-color: transparent;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: $primary-background-color;
}

.subscribe__button {
  @media screen and (max-width: 1199px) {
    margin-left: 0;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  color: $primary-background-color;
  background-color: $main-logo-color;
  border: 0;
  border-radius: 4px;

  @include font-size(700, 16px, 1.88, 0.06em);
}

.subscribe__icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
  margin-left: 10px;
}
