.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
  height: 80px;
  justify-content: space-between;
}
.js-open-menu {
  display: inline-flex;
  border: none;
  background-color: transparent;
  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.mobile__icon {
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
}
.navigation {
  @media screen and (max-width: $tablet) {
    display: none;
  }
}
.navigation__list {
  @media screen and (min-width: $tablet) {
    display: flex;
    @include font-size(500, 14px, 1.14, 0.02em);
    margin-left: 93px;
  }
}
.navigation__link {
  @media screen and (min-width: $tablet) {
    display: inline-block;
    padding: 32px 0;
  }
  transition: color 250ms $timing-function;

  &:hover,
  &:focus {
    color: $main-logo-color;
  }
}
.navigation__item {
  @media screen and (min-width: $tablet) {
    position: relative;
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}
.contacts {
  @media screen and (max-width: $tablet) {
    display: none;
  }
  @media screen and (min-width: $tablet) {
    display: block;
    margin-left: auto;
    @include font-size(500, 12px, 1.17, 0.02em);
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    font-size: 14px;
    line-height: 1.14;
  }
}
.contacts__item {
  @media screen and (min-width: $desktop) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
.contacts__link {
  display: block;
  padding: 5px 0;
  color: $secondary-color;

  transition: color 250ms $timing-function;

  &:hover,
  &:focus {
    color: $main-logo-color;
  }
  @media screen and (min-width: $desktop) {
    display: inline-block;

    padding: 32px 0;
  }
}
.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
  vertical-align: middle;
}
.current::after {
  @media screen and (max-width: $tablet) {
    display: none;
  }
  content: '';
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translate(-50%);
  width: 110%;
  height: 4px;
  border-radius: 2px;
  background-color: $main-logo-color;
}
