.logo {
  @include logo-font-style;
  color: $main-logo-color;
  @include font-size(700, 24px, 1.17, 0.03em);

  @media screen and (min-width: $desktop) {
    @include font-size(700, 26px, 1.19, 0.03em);
  }
}
.logo__header {
  color: $secondary-logo-color;
}
.logo__footer {
  color: $primary-background-color;
}
