.portfolio {
  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio__filters {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin-bottom: 33px;
  gap: 8px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 30px;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    justify-content: center;
  }
}
.portfolio__item {
  @media screen and (max-width: 767px) {
    margin-bottom: 7px;
  }
}
.portfolio__title {
  @extend %hidden;
}
.portfolio__btn {
  padding: 6px 22px;

  color: inherit;
  background-color: $secondary-background-color;
  @include font-size(500, 16px, 1.62, 0.03em);
  border: none;
  border-radius: 4px;

  transition: color 250ms $timing-function, background-color 250ms $timing-function,
    box-shadow 250ms $timing-function;

  &:hover,
  &:focus {
    background-color: $main-logo-color;
    color: $primary-background-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
.works__item {
  @media screen and (min-width: 480px) {
    flex-basis: 100%;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc((100% - 30px) / 2);
    &:first-child .works__title {
      margin-bottom: 40px;
    }
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 2 * 30px) / 3);
  }
}
.works__img {
  display: block;
}
.works__info {
  max-width: 100%;
  padding: 20px 24px;
  border: 1px solid #eee;
  border-top: 0;
}

.works__title {
  max-width: 100%;
  color: $primary-color;
  @include font-size(700, 18px, 2, 0.06em);
  margin-bottom: 4px;
}

.works__type {
  @include font-size(400, 16px, 1.88, 0.03em);
  color: $secondary-color;
}

.works {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.works__link {
  display: inline-block;

  transition: box-shadow 250ms $timing-function;
  &:focus,
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.works__meta {
  position: relative;
  overflow: hidden;
  height: 100%;
  perspective: 600px;
}

.works__proposition {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  overflow: hidden;

  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;

  @include font-size(400, 18px, 1.56, 0.03em);

  color: $primary-background-color;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%) rotateX(60deg);

  transition: transform 250ms $timing-function;

  .works__link:hover &,
  .works__link:focus & {
    transform: translateY(0) rotateX(0);
  }
}
