a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
p,
ul,
li,
a {
    margin: 0;
    border-width: 0;
    padding: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
ul {
    list-style: none;
}
address {
    font-style: normal;
}
button {
    padding: 0;
    margin: 0;
}
body {
    color: $primary-color;
    background-color: $primary-background-color;
    @include primary-font-style;
}

button {
    cursor: pointer;
}